//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-6
//Part Number: GW5A-LV25UG324C2/I1
//Device: GW5A-25
//Device Version: A
//Created Time: Thu 01 04 16:42:54 2024

IO_LOC "I2S_MCLK" J6;
IO_PORT "I2S_MCLK" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "I2S_DACDAT" E3;
IO_PORT "I2S_DACDAT" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led" D14;
IO_PORT "led" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "iic_0_sda" H5;
IO_PORT "iic_0_sda" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "iic_0_scl" L7;
IO_PORT "iic_0_scl" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "I2S_DACLRC" K6;
IO_PORT "I2S_DACLRC" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "I2S_BCLK" K5;
IO_PORT "I2S_BCLK" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "I2S_ADCLRC" J7;
IO_PORT "I2S_ADCLRC" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "I2S_ADCDAT" H3;
IO_PORT "I2S_ADCDAT" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "reset_n" C15;
IO_PORT "reset_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "clk" T9;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
